@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@keyframes Loading {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
body {
  font-family: "Jost", sans-serif;
}

.contenedor {
  width: 96%;
  margin: 0 auto;
}

header.principal {
  position: fixed;
  background: white;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  padding: 0 1%;
  background: white;
  z-index: 1;
}
header.principal .logo a {
  height: 100%;
  display: block;
}
header.principal .logo a img {
  height: 100%;
}
header.principal .menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
header.principal .menu ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 30px;
  cursor: pointer;
}
header.principal .menu ul li a {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
}
header.principal .menu ul li a img {
  width: 20px;
  margin-right: 7px;
}
header.principal .menu ul li a p {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  color: #2b2b2b;
}
header.principal .menu ul li a span.cantidad {
  background: #b1e461;
  border-radius: 50%;
  padding: 2px 6px;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 1.6em;
  position: absolute;
  top: -10px;
  left: -30px;
}

.carrusel {
  padding-top: 70px;
}
.carrusel img {
  width: 100%;
}

nav.categorias h2 {
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
nav.categorias p.mobile {
  display: none;
  text-decoration: underline;
  text-transform: capitalize;
}
nav.categorias ul.categorias {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
}
nav.categorias ul.categorias li {
  list-style: none;
  padding: 10px 23px;
  border-radius: 10px;
  margin-right: 20px;
  color: #555;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
}
nav.categorias ul.categorias li:hover {
  background: white;
}
nav.categorias ul.categorias li.activo {
  background: white;
  box-shadow: 1px 1px 6px -4px black;
}

@media (max-width: 550px) {
  nav.categorias p.mobile {
    display: block;
  }
  nav.categorias ul.categorias {
    flex-direction: column;
    display: none;
  }
  nav.categorias ul.categorias ul.categorias li {
    height: 30px;
    line-height: 0.8em;
  }
}
.cantidadResultadosVisibles {
  margin-bottom: 30px;
  margin-left: 10px;
}
.cantidadResultadosVisibles p {
  font-size: 1.4em;
}

.productos {
  display: flex;
  flex-wrap: wrap;
}
.productos .producto {
  width: 14%;
  margin: 0 3% 5%;
}
.productos .producto .imagen {
  position: relative;
}
.productos .producto .imagen span.dcto {
  background-color: #ebebeb;
  color: #1fa02e;
  position: absolute;
  top: -7px;
  border-radius: 8px;
  left: 0;
  font-weight: 600;
  font-size: 1.2em;
  padding: 4px 6px;
  box-shadow: 1px 1px 6px -4px black;
}
.productos .producto .imagen img {
  width: 100%;
}
.productos .producto p {
  color: black;
}
.productos .producto p.nombre {
  margin-top: 10px;
  margin-bottom: 0;
  text-transform: capitalize;
  line-height: 1em;
  height: 32px;
}
.productos .producto p.cantidad {
  color: #555;
  font-size: 0.9em;
  margin: 0 0 5px 0;
}
.productos .producto .precio {
  display: flex;
  justify-content: flex-start;
}
.productos .producto .precio p.ahora {
  position: relative;
  font-weight: bold;
}
.productos .producto .precio p.antes {
  text-decoration: line-through;
  margin-left: 10px;
  color: #555555;
}
.productos .producto .vermas {
  color: #77a530;
  text-transform: capitalize;
  text-decoration: underline;
  cursor: pointer;
}
.productos .producto .modaldetalle {
  display: none;
}
.productos .producto .estado button.agregar {
  background: #b1e461;
  color: black;
  border: 1px solid #77a530;
  border-radius: 40px;
  padding: 7px 15px;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin: 0 auto;
  display: block;
}
.productos .producto .estado button.agregar:hover {
  background: #77a530;
}
.productos .producto .estado div {
  display: flex;
}
.productos .producto .estado div input {
  width: 30px;
  text-align: center;
}
.productos .producto .estado div button {
  background: #b1e461;
  color: black;
  border: 1px solid #77a530;
  border-radius: 40px;
  padding: 7px 15px;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.productos .producto .estado div button:hover {
  background: #77a530;
}

@media (max-width: 550px) {
  .productos .producto {
    border: 1px solid #dddddd;
    padding: 10px;
    width: 100%;
    margin: 0 auto 4%;
  }
  .productos .producto > *,
  .productos .producto p.cantidad {
    margin-left: 170px;
    position: relative;
  }
  .productos .producto .imagen {
    width: 150px;
    margin: 0;
    position: absolute;
  }
}
section.productosCarrito_fondo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2705882353);
  z-index: 2;
  display: none;
}

section.productosCarrito_contenido.desplegar {
  right: 0;
}

section.productosCarrito_contenido {
  position: fixed;
  z-index: 2;
  background: white;
  width: 40%;
  height: 100%;
  top: 0;
  padding: 20px 10px;
  right: -40%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
section.productosCarrito_contenido header {
  display: flex;
  justify-content: flex-end;
}
section.productosCarrito_contenido header img.cerrar {
  display: block;
  width: 40px;
  cursor: pointer;
}
section.productosCarrito_contenido .sinproductos {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 80%;
}
section.productosCarrito_contenido .conproductos .cantidadproductos {
  width: 100%;
  text-align: center;
}
section.productosCarrito_contenido .conproductos .productos .producto {
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 1px solid #dddddd;
}
section.productosCarrito_contenido .conproductos .productos .producto > *,
section.productosCarrito_contenido .conproductos .productos .producto p.cantidad {
  margin-left: 100px;
}
section.productosCarrito_contenido .conproductos .productos .producto .imagen {
  position: absolute;
  width: 80px;
  margin-left: 0;
}
section.productosCarrito_contenido .conproductos .productos .producto .nombre {
  height: auto;
}
section.productosCarrito_contenido .conproductos .productos .producto .eliminar {
  color: #77a530;
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
section.productosCarrito_contenido .conproductos .loading .loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: block;
  vertical-align: top;
}
section.productosCarrito_contenido .conproductos .loading svg path,
section.productosCarrito_contenido .conproductos .loading svg rect {
  fill: green;
}

@media (max-width: 550px) {
  section.productosCarrito_contenido {
    width: 70%;
    right: -70%;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #77a530;
  margin-top: 100px;
  padding: 20px 20px 0;
}
footer img {
  height: 30px;
}

/*# sourceMappingURL=index.css.map */
