{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": false,
      "delay": 0,
      "animate": false,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "node_modules",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.turf",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/public_html/verdurizate/",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "README.md",
          "mtimeMs": 1670052845201.8743,
          "date": "2022-12-03T07:37:40.933Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1670054414922.627,
          "date": "2022-12-03T08:00:22.736Z"
        },
        {
          "file": "package-lock.json",
          "mtimeMs": 1668288181596.296,
          "date": "2022-12-02T05:04:21.758Z"
        },
        {
          "file": "package.json",
          "mtimeMs": 1668288181596.296,
          "date": "2022-12-02T05:04:22.694Z"
        },
        {
          "file": "_originales/banner.ai",
          "mtimeMs": 1668188986651.0334,
          "date": "2022-12-02T05:04:26.689Z"
        },
        {
          "file": "_originales/favicon.ai",
          "mtimeMs": 1668188982044.8394,
          "date": "2022-12-02T05:04:28.160Z"
        },
        {
          "file": "_originales/logo.ai",
          "mtimeMs": 1668840505951.3271,
          "date": "2022-12-02T05:04:29.726Z"
        },
        {
          "file": "css/index.css",
          "mtimeMs": 1670054414934.711,
          "date": "2022-12-03T08:00:30.600Z"
        },
        {
          "file": "css/index.css.map",
          "mtimeMs": 1670054414932.709,
          "date": "2022-12-03T08:00:31.672Z"
        },
        {
          "file": "css/index.min.css",
          "mtimeMs": 1670054414880.112,
          "date": "2022-12-03T08:00:32.729Z"
        },
        {
          "file": "images/carro.svg",
          "mtimeMs": 1668149912801.775,
          "date": "2022-12-02T05:04:37.900Z"
        },
        {
          "file": "images/cerrar.svg",
          "mtimeMs": 1668291403698.5715,
          "date": "2022-12-02T05:04:38.952Z"
        },
        {
          "file": "images/cuenta.svg",
          "mtimeMs": 1668148005343.179,
          "date": "2022-12-02T05:04:40.000Z"
        },
        {
          "file": "images/favicon.png",
          "mtimeMs": 1668184716479.6233,
          "date": "2022-12-02T05:04:41.041Z"
        },
        {
          "file": "images/logohorizontal.png",
          "mtimeMs": 1668839834520.7937,
          "date": "2022-12-02T05:04:42.086Z"
        },
        {
          "file": "images/verdurizate1.png",
          "mtimeMs": 1668144481301.745,
          "date": "2022-12-02T05:04:44.462Z"
        },
        {
          "file": "images/verdurizate2.png",
          "mtimeMs": 1668144488441.4055,
          "date": "2022-12-02T05:04:45.525Z"
        },
        {
          "file": "js/constants.js",
          "mtimeMs": 1668178803336.7927,
          "date": "2022-12-02T05:04:46.568Z"
        },
        {
          "file": "js/functions.js",
          "mtimeMs": 1670052421828.3396,
          "date": "2022-12-03T07:27:19.732Z"
        },
        {
          "file": "js/index.js",
          "mtimeMs": 1669959315964.429,
          "date": "2022-12-02T05:36:38.796Z"
        },
        {
          "file": "js/index.min.js",
          "mtimeMs": 1670054414918.6255,
          "date": "2022-12-03T08:00:33.776Z"
        },
        {
          "file": "_originales/ogimage.ai",
          "mtimeMs": 1668933451786.1775,
          "date": "2022-12-02T05:04:31.310Z"
        },
        {
          "file": "images/ogimage.jpg",
          "mtimeMs": 1668933444908.999,
          "date": "2022-12-02T05:04:43.410Z"
        },
        {
          "file": "images/arrowright.png",
          "mtimeMs": 1668982785932.8745,
          "date": "2022-12-02T05:04:35.538Z"
        },
        {
          "file": "prepros.config",
          "mtimeMs": 1670054422744.3796,
          "date": "2022-12-03T08:00:23.949Z"
        },
        {
          "file": "_pug/footer.pug",
          "mtimeMs": 1670003248915.7412,
          "date": "2022-12-02T17:48:18.151Z"
        },
        {
          "file": "_pug/header.pug",
          "mtimeMs": 1669998819606.3481,
          "date": "2022-12-02T17:41:20.840Z"
        },
        {
          "file": "_pug/index.pug",
          "mtimeMs": 1670054410609.3613,
          "date": "2022-12-03T08:00:25.033Z"
        },
        {
          "file": "_pug/logo.pug",
          "mtimeMs": 1667876383858.099,
          "date": "2022-12-02T05:21:18.357Z"
        },
        {
          "file": "_pug/productoscarrito.pug",
          "mtimeMs": 1670004819034.6228,
          "date": "2022-12-02T18:14:22.463Z"
        },
        {
          "file": "_pug/components/cantidadResultadosVisibles.pug",
          "mtimeMs": 1668583043664.339,
          "date": "2022-12-02T05:21:20.544Z"
        },
        {
          "file": "_pug/components/carrusel.pug",
          "mtimeMs": 1670054414237.4429,
          "date": "2022-12-03T08:00:26.306Z"
        },
        {
          "file": "_pug/components/navcategorias.pug",
          "mtimeMs": 1668407231486.386,
          "date": "2022-12-02T05:21:22.883Z"
        },
        {
          "file": "_pug/head/link.pug",
          "mtimeMs": 1669960929627.1716,
          "date": "2022-12-02T06:02:22.321Z"
        },
        {
          "file": "_pug/head/meta.pug",
          "mtimeMs": 1668933727458.2249,
          "date": "2022-12-02T05:21:25.220Z"
        },
        {
          "file": "_pug/head/script.pug",
          "mtimeMs": 1669998416726.4614,
          "date": "2022-12-02T16:29:02.296Z"
        },
        {
          "file": "_scss/cantidadResultadosVisibles.sass",
          "mtimeMs": 1668583532491.311,
          "date": "2022-12-02T05:21:27.401Z"
        },
        {
          "file": "_scss/carrusel.sass",
          "mtimeMs": 1670003609470.0334,
          "date": "2022-12-02T17:53:42.673Z"
        },
        {
          "file": "_scss/footer.sass",
          "mtimeMs": 1670003095700.2986,
          "date": "2022-12-02T17:48:19.222Z"
        },
        {
          "file": "_scss/header.sass",
          "mtimeMs": 1670002934198.4714,
          "date": "2022-12-02T17:42:24.889Z"
        },
        {
          "file": "_scss/index.sass",
          "mtimeMs": 1670003564688.6443,
          "date": "2022-12-02T17:53:09.954Z"
        },
        {
          "file": "_scss/navcategorias.sass",
          "mtimeMs": 1670004565880.2788,
          "date": "2022-12-02T18:14:23.509Z"
        },
        {
          "file": "_scss/productos.sass",
          "mtimeMs": 1670004679363.6238,
          "date": "2022-12-02T18:14:24.586Z"
        },
        {
          "file": "_scss/productosCarrito.sass",
          "mtimeMs": 1669998869519.866,
          "date": "2022-12-02T17:41:25.098Z"
        },
        {
          "file": "_scss/variables.sass",
          "mtimeMs": 1670004719465.0872,
          "date": "2022-12-02T18:14:25.632Z"
        },
        {
          "file": ".htaccess",
          "mtimeMs": 1669997756665.8542,
          "date": "2022-12-02T16:24:44.935Z"
        },
        {
          "file": "images/carrusel/bannerprincipal-1024.jpg",
          "mtimeMs": 1669998122066.7854,
          "date": "2022-12-02T16:24:53.745Z"
        },
        {
          "file": "images/carrusel/bannerprincipal-480.jpg",
          "mtimeMs": 1669998054107.6335,
          "date": "2022-12-02T16:24:55.078Z"
        },
        {
          "file": "images/carrusel/bannerprincipal-640.jpg",
          "mtimeMs": 1669998017760.4841,
          "date": "2022-12-02T16:24:56.387Z"
        },
        {
          "file": "images/carrusel/bannerprincipal.jpg",
          "mtimeMs": 1668187929839.8433,
          "date": "2022-12-02T16:24:57.813Z"
        },
        {
          "file": "js/jquery-3.5.1.min.js",
          "mtimeMs": 1669998386623.26,
          "date": "2022-12-02T16:29:08.919Z"
        },
        {
          "file": "css/header.css",
          "mtimeMs": 1670054414842.7744,
          "date": "2022-12-03T08:00:27.373Z"
        },
        {
          "file": "css/header.css.map",
          "mtimeMs": 1670054414836.7754,
          "date": "2022-12-03T08:00:28.436Z"
        },
        {
          "file": "css/header.min.css",
          "mtimeMs": 1670054414842.7744,
          "date": "2022-12-03T08:00:29.525Z"
        },
        {
          "file": "images/productos/originales/352563.jfif",
          "mtimeMs": 1670006611090.7278,
          "date": "2022-12-03T07:23:10.525Z"
        },
        {
          "file": "images/productos/originales/412135.webp",
          "mtimeMs": 1670006612238.7593,
          "date": "2022-12-03T07:23:12.107Z"
        },
        {
          "file": "images/productos/originales/412167.webp",
          "mtimeMs": 1670006599659.0862,
          "date": "2022-12-03T07:23:13.555Z"
        },
        {
          "file": "images/productos/originales/412560.jfif",
          "mtimeMs": 1670006613345.842,
          "date": "2022-12-03T07:23:15.407Z"
        },
        {
          "file": "images/productos/originales/415971.jfif",
          "mtimeMs": 1670006592599.7039,
          "date": "2022-12-03T07:23:17.261Z"
        },
        {
          "file": "images/productos/originales/416123.jfif",
          "mtimeMs": 1670006587003.6228,
          "date": "2022-12-03T07:23:20.359Z"
        },
        {
          "file": "images/productos/originales/416124.jfif",
          "mtimeMs": 1670006596186.6824,
          "date": "2022-12-03T07:23:22.191Z"
        },
        {
          "file": "images/productos/originales/416214.jfif",
          "mtimeMs": 1670006593802.2798,
          "date": "2022-12-03T07:23:24.056Z"
        },
        {
          "file": "images/productos/originales/417442.jfif",
          "mtimeMs": 1670006600809.8176,
          "date": "2022-12-03T07:23:26.003Z"
        },
        {
          "file": "images/productos/originales/422049.jfif",
          "mtimeMs": 1670006608782.9077,
          "date": "2022-12-03T07:23:27.879Z"
        },
        {
          "file": "images/productos/originales/422050.jfif",
          "mtimeMs": 1670006606467.8125,
          "date": "2022-12-03T07:23:29.740Z"
        },
        {
          "file": "images/productos/originales/422052.jfif",
          "mtimeMs": 1670006607603.004,
          "date": "2022-12-03T07:23:31.571Z"
        },
        {
          "file": "images/productos/originales/424484.jfif",
          "mtimeMs": 1670006597330.756,
          "date": "2022-12-03T07:23:33.285Z"
        },
        {
          "file": "images/productos/originales/424489.jfif",
          "mtimeMs": 1670006588749.1997,
          "date": "2022-12-03T07:23:36.128Z"
        },
        {
          "file": "images/productos/originales/424554.jfif",
          "mtimeMs": 1670006595007.25,
          "date": "2022-12-03T07:23:38.093Z"
        },
        {
          "file": "images/productos/originales/424556.jfif",
          "mtimeMs": 1670006591409.2444,
          "date": "2022-12-03T07:23:39.965Z"
        },
        {
          "file": "images/productos/originales/424557.jfif",
          "mtimeMs": 1670006590199.2334,
          "date": "2022-12-03T07:23:41.843Z"
        },
        {
          "file": "images/productos/originales/429727.webp",
          "mtimeMs": 1670006601948.024,
          "date": "2022-12-03T07:23:43.274Z"
        },
        {
          "file": "images/productos/originales/475191.webp",
          "mtimeMs": 1670006605290.4524,
          "date": "2022-12-03T07:23:45.104Z"
        },
        {
          "file": "images/productos/originales/504872.webp",
          "mtimeMs": 1670006603143.751,
          "date": "2022-12-03T07:23:46.788Z"
        },
        {
          "file": "images/productos/originales/511080.webp",
          "mtimeMs": 1670006598542.7134,
          "date": "2022-12-03T07:23:48.356Z"
        },
        {
          "file": "images/productos/originales/600961.webp",
          "mtimeMs": 1670006609923.26,
          "date": "2022-12-03T07:23:50.066Z"
        },
        {
          "file": "images/productos/webp/352563.webp",
          "mtimeMs": 1670050384845.0056,
          "date": "2022-12-03T07:23:51.906Z"
        },
        {
          "file": "images/productos/webp/412135.webp",
          "mtimeMs": 1670006612238.7593,
          "date": "2022-12-03T07:23:53.486Z"
        },
        {
          "file": "images/productos/webp/412167.webp",
          "mtimeMs": 1670006599659.0862,
          "date": "2022-12-03T07:23:54.931Z"
        },
        {
          "file": "images/productos/webp/412560.webp",
          "mtimeMs": 1670050383043.521,
          "date": "2022-12-03T07:23:56.677Z"
        },
        {
          "file": "images/productos/webp/415971.webp",
          "mtimeMs": 1670050381564.1077,
          "date": "2022-12-03T07:23:58.390Z"
        },
        {
          "file": "images/productos/webp/416123.webp",
          "mtimeMs": 1670050379981.6377,
          "date": "2022-12-03T07:24:03.176Z"
        },
        {
          "file": "images/productos/webp/416124.webp",
          "mtimeMs": 1670050377908.6335,
          "date": "2022-12-03T07:24:04.891Z"
        },
        {
          "file": "images/productos/webp/416214.webp",
          "mtimeMs": 1670050372520.2163,
          "date": "2022-12-03T07:24:06.651Z"
        },
        {
          "file": "images/productos/webp/417442.webp",
          "mtimeMs": 1670050371703.9658,
          "date": "2022-12-03T07:24:09.851Z"
        },
        {
          "file": "images/productos/webp/422049.webp",
          "mtimeMs": 1670050370603.5613,
          "date": "2022-12-03T07:24:12.227Z"
        },
        {
          "file": "images/productos/webp/422050.webp",
          "mtimeMs": 1670050368534.2053,
          "date": "2022-12-03T07:24:14.918Z"
        },
        {
          "file": "images/productos/webp/422052.webp",
          "mtimeMs": 1670050367439.198,
          "date": "2022-12-03T07:24:16.856Z"
        },
        {
          "file": "images/productos/webp/424484.webp",
          "mtimeMs": 1670050365517.926,
          "date": "2022-12-03T07:24:19.367Z"
        },
        {
          "file": "images/productos/webp/424489.webp",
          "mtimeMs": 1670050363600.6233,
          "date": "2022-12-03T07:24:21.897Z"
        },
        {
          "file": "images/productos/webp/424554.webp",
          "mtimeMs": 1670050362080.3628,
          "date": "2022-12-03T07:24:24.972Z"
        },
        {
          "file": "images/productos/webp/424556.webp",
          "mtimeMs": 1670050359978.6528,
          "date": "2022-12-03T07:24:27.241Z"
        },
        {
          "file": "images/productos/webp/424557.webp",
          "mtimeMs": 1670050356363.454,
          "date": "2022-12-03T07:24:30.371Z"
        },
        {
          "file": "images/productos/webp/429727.webp",
          "mtimeMs": 1670006601948.024,
          "date": "2022-12-03T07:24:31.842Z"
        },
        {
          "file": "images/productos/webp/475191.webp",
          "mtimeMs": 1670006605290.4524,
          "date": "2022-12-03T07:24:33.701Z"
        },
        {
          "file": "images/productos/webp/504872.webp",
          "mtimeMs": 1670006603143.751,
          "date": "2022-12-03T07:24:35.430Z"
        },
        {
          "file": "images/productos/webp/511080.webp",
          "mtimeMs": 1670006598542.7134,
          "date": "2022-12-03T07:24:37.003Z"
        },
        {
          "file": "images/productos/webp/600961.webp",
          "mtimeMs": 1670006609923.26,
          "date": "2022-12-03T07:24:38.707Z"
        },
        {
          "file": "images/productos/webp/150/352563_150x.webp",
          "mtimeMs": 1670051672393.4683,
          "date": "2022-12-03T07:24:40.140Z"
        },
        {
          "file": "images/productos/webp/150/412135_150x.webp",
          "mtimeMs": 1670051673345.4724,
          "date": "2022-12-03T07:24:41.584Z"
        },
        {
          "file": "images/productos/webp/150/412167_150x.webp",
          "mtimeMs": 1670051674337.1262,
          "date": "2022-12-03T07:24:43.022Z"
        },
        {
          "file": "images/productos/webp/150/412560_150x.webp",
          "mtimeMs": 1670051675227.9368,
          "date": "2022-12-03T07:24:44.454Z"
        },
        {
          "file": "images/productos/webp/150/415971_150x.webp",
          "mtimeMs": 1670051676099.8765,
          "date": "2022-12-03T07:24:45.900Z"
        },
        {
          "file": "images/productos/webp/150/416123_150x.webp",
          "mtimeMs": 1670051677057.424,
          "date": "2022-12-03T07:24:47.344Z"
        },
        {
          "file": "images/productos/webp/150/416124_150x.webp",
          "mtimeMs": 1670051744587.5508,
          "date": "2022-12-03T07:24:48.801Z"
        },
        {
          "file": "images/productos/webp/150/416214_150x.webp",
          "mtimeMs": 1670051746266.5564,
          "date": "2022-12-03T07:24:50.237Z"
        },
        {
          "file": "images/productos/webp/150/417442_150x.webp",
          "mtimeMs": 1670051747403.0679,
          "date": "2022-12-03T07:24:51.690Z"
        },
        {
          "file": "images/productos/webp/150/422049_150x.webp",
          "mtimeMs": 1670051748361.6533,
          "date": "2022-12-03T07:24:53.154Z"
        },
        {
          "file": "images/productos/webp/150/422050_150x.webp",
          "mtimeMs": 1670051749632.348,
          "date": "2022-12-03T07:24:54.610Z"
        },
        {
          "file": "images/productos/webp/150/422052_150x.webp",
          "mtimeMs": 1670051750636.8652,
          "date": "2022-12-03T07:24:56.048Z"
        },
        {
          "file": "images/productos/webp/150/424484_150x.webp",
          "mtimeMs": 1670051786294.4812,
          "date": "2022-12-03T07:24:57.493Z"
        },
        {
          "file": "images/productos/webp/150/424489_150x.webp",
          "mtimeMs": 1670051787252.1863,
          "date": "2022-12-03T07:24:58.938Z"
        },
        {
          "file": "images/productos/webp/150/424554_150x.webp",
          "mtimeMs": 1670051788034.2852,
          "date": "2022-12-03T07:25:00.386Z"
        },
        {
          "file": "images/productos/webp/150/424556_150x.webp",
          "mtimeMs": 1670051788814.0376,
          "date": "2022-12-03T07:25:01.845Z"
        },
        {
          "file": "images/productos/webp/150/424557_150x.webp",
          "mtimeMs": 1670051789592.5288,
          "date": "2022-12-03T07:25:03.297Z"
        },
        {
          "file": "images/productos/webp/150/429727_150x.webp",
          "mtimeMs": 1670051790456.274,
          "date": "2022-12-03T07:25:04.727Z"
        },
        {
          "file": "images/productos/webp/150/475191_150x.webp",
          "mtimeMs": 1670051817328.664,
          "date": "2022-12-03T07:25:06.166Z"
        },
        {
          "file": "images/productos/webp/150/504872_150x.webp",
          "mtimeMs": 1670051818108.5254,
          "date": "2022-12-03T07:25:07.690Z"
        },
        {
          "file": "images/productos/webp/150/511080_150x.webp",
          "mtimeMs": 1670051818890.1196,
          "date": "2022-12-03T07:25:09.149Z"
        },
        {
          "file": "images/productos/webp/150/600961_150x.webp",
          "mtimeMs": 1670051819672.0703,
          "date": "2022-12-03T07:25:10.628Z"
        },
        {
          "file": "images/productos/webp/270/352563_270x.webp",
          "mtimeMs": 1670050655177.5503,
          "date": "2022-12-03T07:25:12.091Z"
        },
        {
          "file": "images/productos/webp/270/412135_270x.webp",
          "mtimeMs": 1670051281370.5483,
          "date": "2022-12-03T07:25:13.531Z"
        },
        {
          "file": "images/productos/webp/270/412167_270x.webp",
          "mtimeMs": 1670050696024.0247,
          "date": "2022-12-03T07:25:14.962Z"
        },
        {
          "file": "images/productos/webp/270/412560_270x.webp",
          "mtimeMs": 1670051299012.9136,
          "date": "2022-12-03T07:25:16.408Z"
        },
        {
          "file": "images/productos/webp/270/415971_270x.webp",
          "mtimeMs": 1670051311013.502,
          "date": "2022-12-03T07:25:17.855Z"
        },
        {
          "file": "images/productos/webp/270/416123_270x.webp",
          "mtimeMs": 1670051340909.9758,
          "date": "2022-12-03T07:25:19.456Z"
        },
        {
          "file": "images/productos/webp/270/416124_270x.webp",
          "mtimeMs": 1670051384279.5808,
          "date": "2022-12-03T07:25:20.903Z"
        },
        {
          "file": "images/productos/webp/270/416214_270x.webp",
          "mtimeMs": 1670051385863.4756,
          "date": "2022-12-03T07:25:22.370Z"
        },
        {
          "file": "images/productos/webp/270/417442_270x.webp",
          "mtimeMs": 1670051386760.9834,
          "date": "2022-12-03T07:25:23.836Z"
        },
        {
          "file": "images/productos/webp/270/422049_270x.webp",
          "mtimeMs": 1670051387642.3862,
          "date": "2022-12-03T07:25:25.300Z"
        },
        {
          "file": "images/productos/webp/270/422050_270x.webp",
          "mtimeMs": 1670051426955.878,
          "date": "2022-12-03T07:25:26.780Z"
        },
        {
          "file": "images/productos/webp/270/422052_270x.webp",
          "mtimeMs": 1670051430410.6401,
          "date": "2022-12-03T07:25:28.239Z"
        },
        {
          "file": "images/productos/webp/270/424484_270x.webp",
          "mtimeMs": 1670051431208.6497,
          "date": "2022-12-03T07:25:29.707Z"
        },
        {
          "file": "images/productos/webp/270/424489_270x.webp",
          "mtimeMs": 1670051432283.454,
          "date": "2022-12-03T07:25:31.177Z"
        },
        {
          "file": "images/productos/webp/270/424554_270x.webp",
          "mtimeMs": 1670051462202.6584,
          "date": "2022-12-03T07:25:32.653Z"
        },
        {
          "file": "images/productos/webp/270/424556_270x.webp",
          "mtimeMs": 1670051463154.3381,
          "date": "2022-12-03T07:25:34.106Z"
        },
        {
          "file": "images/productos/webp/270/424557_270x.webp",
          "mtimeMs": 1670051464357.3418,
          "date": "2022-12-03T07:25:35.562Z"
        },
        {
          "file": "images/productos/webp/270/429727_270x.webp",
          "mtimeMs": 1670051465377.2512,
          "date": "2022-12-03T07:25:37.006Z"
        },
        {
          "file": "images/productos/webp/270/475191_270x.webp",
          "mtimeMs": 1670051493776.367,
          "date": "2022-12-03T07:25:38.460Z"
        },
        {
          "file": "images/productos/webp/270/504872_270x.webp",
          "mtimeMs": 1670051495129.6875,
          "date": "2022-12-03T07:25:39.927Z"
        },
        {
          "file": "images/productos/webp/270/511080_270x.webp",
          "mtimeMs": 1670051496328.5164,
          "date": "2022-12-03T07:25:41.391Z"
        },
        {
          "file": "images/productos/webp/270/600961_270x.webp",
          "mtimeMs": 1670051497366.6726,
          "date": "2022-12-03T07:25:42.849Z"
        },
        {
          "file": "images/carrusel/webp/bannerprincipal-1024.webp",
          "mtimeMs": 1670052721853.1826,
          "date": "2022-12-03T07:32:53.146Z"
        },
        {
          "file": "images/carrusel/webp/bannerprincipal-480.webp",
          "mtimeMs": 1670052628073.556,
          "date": "2022-12-03T07:32:54.468Z"
        },
        {
          "file": "images/carrusel/webp/bannerprincipal-640.webp",
          "mtimeMs": 1670052721973.763,
          "date": "2022-12-03T07:32:55.788Z"
        },
        {
          "file": "images/carrusel/webp/bannerprincipal.webp",
          "mtimeMs": 1670052601298.879,
          "date": "2022-12-03T07:32:57.257Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_pug/index.pug",
        "config": {
          "autoCompile": false
        }
      },
      {
        "file": "_scss/index.sass",
        "config": {
          "autoCompile": false
        }
      }
    ]
  }
}
