header.principal

	.logo
		//- img( src="/images/verdurizate1.png" , alt="Verdurizate" )
		img( src="/images/logohorizontal.png" , alt="Verdurizate" )
			
	.menu
		ul
			li.carro
				a( title="carro" )
					img( src="/images/carro.svg" alt="Carro" )
					p carro
					span.cantidad 0
			//- li
			//- 	a( title="mi cuenta" )
			//- 		img( src="/images/cuenta.svg" alt="Mi Cuenta" )
			//- 		p mi cuenta