header

	.logo
		a( href="/" title="Inicio" )
			img( src="/images/verdurizate1.png" , alt="Verdurizate" )
			
	.menu
		ul
			li
				a( href="/" title="carro" )
					img( src="/images/carro.svg" alt="Carro" )
					p carro
			li
				a( href="/" title="mi cuenta" )
					img( src="/images/cuenta.svg" alt="Mi Cuenta" )
					p mi cuenta