header.principal

	.logo
		//- img( src="./images/verdurizate1.png" , alt="Verdurizate" )
		img( src="./images/logohorizontal.png" width="220" height="56" alt="Verdurizate" )
			
	.menu
		ul
			li.carro
				//- a( title="carro" )
				img( src="./images/carro.svg" width="20" height="16" alt="Carro" )
				p carro
				span.cantidad 0
			//- li
			//- 	a( title="mi cuenta" )
			//- 		img( src="./images/cuenta.svg" alt="Mi Cuenta" )
			//- 		p mi cuenta