doctype 
html( lang="es" )
	head
		include head/meta
		link(rel='icon' sizes='32x32' type='image/png' href='./images/favicon.png')
		link( rel="preload" as="image" href="./images/carrusel/webp/bannerprincipal-1024.webp"  imagesrcset="./images/carrusel/webp/bannerprincipal-480.webp 480w, ./images/carrusel/webp/bannerprincipal-640.webp 640w, ./images/carrusel/webp/bannerprincipal-1024.webp 1024w" imagesizes="50vw" )
		
		//- CRITICAL CSS
		style
			include ../css/header.min.css
		
		title Verdurizate | AHORRA dinero, compra SALUDABLE.
	body
		include productoscarrito
		include header
		
		include components/carrusel
	
		.contenedor
			include components/navcategorias
			include components/cantidadResultadosVisibles
			.productos
		
		include footer
		//- https://dribbble.com/shots/15980272-HODXpress-Grocery-Delivery