doctype 
html( lang="es" )
	head
		include head/meta
		include head/link
		
		title Verdurizate | AHORRA dinero, compra SALUDABLE.
	body
		include productoscarrito
		include header
		
		include components/carrusel
	
		.contenedor
			include components/navcategorias
			include components/cantidadResultadosVisibles
			.productos
		
		include footer
		//- https://dribbble.com/shots/15980272-HODXpress-Grocery-Delivery