nav.categorias
	h2 categorias
	ul.categorias
		li.activo todos los productos
		li verduras
		li frutas
		li frutos secos
	script.
		$("nav.categorias > ul > li").on("click", function(){
			let categoria = $(this).html();
			if ( categoria === "todos los productos" ) {
				$(".productos .producto").show();
			} else {
				$(`.productos .producto`).hide();
				$(`.productos .producto[data-categoria="${categoria}"]`).show();
			}
		});
		