section.carritodesplegable.productosCarrito_fondo
section.carritodesplegable.productosCarrito_contenido
	header
		img.cerrar( src="./images/cerrar.svg" alt="Cerrar Carrito" )
		
	div.sinproductos(style="display:none")
		strong Tu carro está vacío
		
	div.conproductos(style="display:none")
		.cantidadproductos Tienes 
			strong 1 producto
		.productos
		nav
			p.vaciarcarro vaciar carro
		.total
			p total 
				strong  
		a.generarpedido( href="#enviar" ) Encargar
		