.carrusel
	img.lazyload( 
		alt="Ahorra dinero, Compra Saludable" 
		data-src="./images/carrusel/bannerprincipal.jpg" 
		data-srcset="./images/carrusel/bannerprincipal-480.jpg 480w, ./images/carrusel/bannerprincipal-640.jpg 640w, ./images/carrusel/bannerprincipal-1024.jpg 1024w"
	)