nav.categorias
	h2 categorias
	p.mobile ver categorias
	p.mobile(style="display:none") ocultar categorias
	ul.categorias
		li.activo todos los productos
		li verduras
		li frutas
		li frutos secos
		li huevos
		li canastas
		li otros
		