meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
//- Theme Color for Chrome, Firefox OS and Opera
meta( name="theme-color" , content="#ef1d1d" )
//- Short description of the document (limit to 150 characters)
//- This content *may* be used as a part of search engine results
meta(name="description" content="Ahorra dinero, compra saludable.")
//- Control the behavior of search engine crawling and indexing
//- All Search Engines
meta(name="robots" content="index,follow")
//- Google Specific
meta(name="googlebot" content="index,follow")







//- FACEBOOK
meta( property="fb:app_id" content="531023254236338" )
meta( property="og:url" content="https://volatil.cl/verdurizate/" )
meta( property="og:type" content="website" )
meta( property="og:title" content="Verdurizate" )
meta( property="og:image" content="https://volatil.cl/verdurizate/images/ogimage.jpg" )
meta( property="og:image:alt" content="AHORRA dinero, compra SALUDABLE." )
meta( property="og:description" content="AHORRA dinero, compra SALUDABLE." )
meta( property="og:site_name" content="Verdurizate" )
meta( property="og:locale" content="es_CL" )


//- TWITTER
meta( name="twitter:card" content="summary" )
meta( name="twitter:creator" content="@Paulombriz" )
meta( name="twitter:url" content="https://volatil.cl/verdurizate/" )
meta( name="twitter:title" content="Verdurizate" )
meta( name="twitter:description" content="AHORRA dinero, compra SALUDABLE." )
meta( name="twitter:image" content="https://volatil.cl/verdurizate/images/ogimage.jpg" )
meta( name="twitter:image:alt" content="AHORRA dinero, compra SALUDABLE." )