meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
//- Theme Color for Chrome, Firefox OS and Opera
meta( name="theme-color" , content="#ef1d1d" )
//- Short description of the document (limit to 150 characters)
//- This content *may* be used as a part of search engine results
meta(name="description" content="Ahorra dinero, compra saludable.")
//- Control the behavior of search engine crawling and indexing
//- All Search Engines
meta(name="robots" content="index,follow")
//- Google Specific
meta(name="googlebot" content="index,follow")